<h2>Users</h2>
<table class="table">
  <thead>
    <th>image</th>
    <th>name</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td>
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40" %>
        <% end %>
      </td>
      <td><%= user.name %></td>
      <td>フォロー数：<%= user.followings.count %></td>
      <td>フォロワー数：<%= user.followers.count %></td>
      <td>
        <% unless user == current_user %>
          <%= render 'users/follow-btn', user: user %>
        <% end %>
      </td>
      <td><%= link_to "Show", user_path(user), class: "text-decoration-none" %></td>
    </tr>
    <% end %>
  </tbody>
</table>