<h2>投稿数の前日比・前週比</h2>
<table>
  <tr>
    <th>今日の投稿数</th>
    <th>前日の投稿数</th>
    <th>前日比</th>
  </tr>
  <tr>
    <td><%= @today_book.count %></td>
    <td><%= @yesterday_book.count %></td>
    <td>
      <%= @day_comparison = @today_book.count / @yesterday_book.count.to_f %>
    </td>
  </tr>
</table>
<table>
  <tr>
    <th>今週の投稿数</th>
    <th>前週の投稿数</th>
    <th>前週比</th>
  </tr>
  <tr>
    <td><%= @this_week_book.count %></td>
    <td><%= @last_week_book.count %></td>
    <td>
      <%= @week_comparison = @this_week_book.count / @last_week_book.count.to_f %>
    </td>
  </tr>
</table>